@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[rgb(255,0,64)];
}
#card-container {
  @apply grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-4 p-4;
}
.card {
  @apply h-[30rem] w-full bg-[rgb(199,27,142)] box-border shadow-[10px_10px_30px_black] flex flex-col items-center justify-around bg-[url()] transition-all duration-[0.5s] overflow-hidden mx-0 my-12 rounded-[3px] border-2 border-[5,76] hover:scale-105;
}
.card-img {
  @apply w-[200px] h-[200px] object-cover grow;
}
.card .card-content {
  @apply p-4;
}
.card .card-content h2 {
  @apply text-xl font-[bold] text-[rgb(255,81,197)] text-center mb-2;
}
.card .card-content p {
  @apply text-base text-[#ff86c2] text-center;
}
.card .card-content r {
  @apply text-xs text-[#ffc2e0] text-center;
}
#search-button {
  @apply p-2 bg-[#ff86c2] rounded-md text-white cursor-pointer;
  margin-left: 30px;
  margin-right: 30px; 
}

#reset-button {
  @apply p-2 bg-[#ff86c2] rounded-md text-white cursor-pointer;
}


button:hover {
  @apply bg-[#ff5c9d];
}